<ion-view title="Wedding Info">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content class="msgbgcolor" scroll="false">
    <div class="countdown_area">
      <span class="wedding_time">Wedding Countdown Clock</span>
    </div>
    <div class="events_area">
      <img src="images/weddingevent.jpg" width="100%" height="100%">
    </div>
    <div class="accomodation_area">
      <img src="images/accommodation.jpg" width="100%" height="100%">
    </div>
    <div class="giftregistry_area">
      <img src="images/giftregistry.jpg" width="100%" height="100%">
    </div>
  </ion-content>
</ion-view>

